body {
    font-family: sans-serif;
    margin: auto;
    max-width: 1280px;
  }

  .navbar {
    background-color: #313236;
    border-radius: 2px;
    max-width: 800px;
  }

  .navbar a {
    color: #aaa;
    display: inline-block;
    font-size: 15px;
    padding: 10px;
    text-decoration: none;
  }

  .navbar a:hover {
    color: #ffffff;
  }

  .lang-switch {
    position: absolute;
    top: 20px;
    right: 20px;
    font-family: sans-serif;
  }

  .lang-switch a {
    text-decoration: none;
    margin-left: 10px;
    color: #333;
    font-weight: bold;
  }